*{
    margin: 0px;
    padding: 0px;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkgreen;
}
.container{
	width: 100vw;
	height: 100vh;
    background-position: center;
    background-size: cover;
}
.navbar{
    width: 100%;
    height: 50px;
}
.logo img{
    width: 80%;
    height: 200px;
    position: relative;
    float: right;
    right: 20px;
}
span{
    cursor: pointer;
}
.div{
    background-color: black;
    width: 35px;
    height: 5px;
    margin: 9px;
}
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
    overflow-x: hidden;
    padding-top: 60px;
    background-color: gold;  
}
.sidenav a{
    text-decoration: none;
    font-size: 25px;
    color: green;
    display: block;
    transition: 0.3s;
    padding: 8px 8px 12px 32px;
    font-weight: bold;
}
.sidenav a:hover{
    color: blue;
}
.sidenav .close{
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
    font-size: 35px;
}
@media screen and(max-height:450px) {
    .sidenav{padding-top: 15px;}
    .sidenav a{font-size: 18px;}
}
#one{
    font-size: 60px;
    font-weight: bolder;
    color: gold;
    text-shadow: 2px 2px 5px blue;
}
.par{
    margin-left: 500px;
    color: gold;
    text-shadow: 2px 2px 5px orangered;
    font-size: 40px;
    display: none;
}
.wavy{
    position: relative;
    margin-top: 180px;
    margin-left: 200px; 
}
.wavy span{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation-name: animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: calc(0.1s * var(--i));
}
#wave span{
    position: relative;
    left: 240px;
    display: inline-block;
}
@keyframes animate{
    0%{transform: translateY(0px);}
    20%{transform: translateY(-20px);}
    40%,100%{transform: translateY(0px);}
}
.social{
    border: 1px solid transparent;
    width: 500px;
    height: 410px;
    margin-left: 400px;
}
.social img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.social p{
    float: right;
    margin-right: 180px;
    margin-top: 30px;
}

/* aboutpage dropdown */
.drop{
    position: relative;
    display: inline-block;
}
.btn{
    text-decoration: none;
    font-size: 25px;
    color: green;
    transition: 0.3s;
    padding: 8px 8px 8px 32px;
    background: none;
    border: none;
    font-weight: bold;
}
.btn:hover{color: blue;}
.about{
    display: none;
    position: relative;
    z-index: 1;
    overflow: auto;
    width: 100%;
}

/* who,what,manage */
.about a{
    text-decoration: none;
    font-size: 20px;
    color: magenta;
    display: block;
    padding: 8px 8px 8px 32px;
}
.show{display: block;}

/* about */
#par{
    margin-top: 170px;
    text-align: left;
}
p{
    font-size: 20px;
    color: yellowgreen;
    font-weight: 300;
}
h2{
    color: yellow;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
h3{
    color: yellow;
    font-weight: 400;
    font-size: 25px;
}
ul{
    color: yellowgreen;
    font-size: 20px;
    margin-left: 50px;
}
.activities{
    border: 1px solid grey;
    width: 89%;
    margin-left: 7px;
}

/* what we do */
.what{
    border: 1px solid grey;
}
#panel{
    border: none;
    background: none;
    color: yellow;
    font-size: 20px;
    position: relative;
}
.panel{
    display: none;
}
.press{
    font-size: 13px;
    float:right;
    align-items:center;
    justify-content: center;
    margin-top: 5px;
    background: none;
    border: none;
    color: yellow;
}
.press::before{transform: rotate(45deg);}
.press::after{
    left: 6px;
    top: -1px;
    transform: rotate(-45deg);
}

/* partners */
#action{margin-left: 200px;}
#help{margin-left: 155px;}
#undp{
    margin-left: 200px;
    border-radius: 50%;
}
#aird{
    margin-top: 10px;
    height: 200px;
}
#irc{
    float: right;
    margin-right: 23px;
}
#un{
    margin-left: 240px;
    width: 250px;
    margin-top: 40px;
}
#unh{
    margin-left: 190px;
    width: 200px;
}

#aird{margin-left: 200px;}
#med{
    float: right;
    margin-top: 77px;
}
#cw{
   float: right; 
   margin-top: 58px;
   margin-right: 27px;
}
#moha{
    margin-left: 250px;
    height: 200px;
    margin-top: 75px;
}
#drc{
    margin-left: 200px;
    margin-bottom: 80px;
}
#oxfam{
    float: right;
    margin-top: 240px;
    height: 150px;
}
#pep{margin-left: 480px;}

/* contacts */
.contacts{
    margin-left: 400px;
    margin-top: 200px;
}
.email{
    width: 100px;
    height: 70px;
    box-shadow: 5px 5px;
}
.phone{
    width: 100px;
    height: 70px;
    box-shadow: 7px 7px; 
}
.pin{
    width: 100px;
    height: 70px;
    box-shadow: 7px 7px; 
}
.text{
    float: right;
    margin-top: 30px;
    font-weight: bold;
    font-size: 22px;
}
#info,#num{
    margin-right: 830px;
}
#loc{margin-right: 620px;}
textarea{
    width: 400px;
    height: 170px;
    box-sizing: border-box;
    border: 1px solid;
    background-color: yellow;
    font-size: 20px;
    resize: vertical;
}
form p{
    font-weight: bold;
    font-size: 27px;
}
#button{
    border-radius: 4px;
    padding: 5px;
    background-color: gold;
}
#reset{
    margin-left: 295px;
    border-radius: 4px;
    padding: 5px;
    background-color: gold;
}