*{
    margin: 0px;
    padding: 0px;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkgreen;
    /* background-image: linear-gradient(to right,darkgreen,yellow,darkgreen); */
}
.container{
	width: 100vw;
	height: 100vh;
    background-position: center;
    background-size: cover;
}
.navbar{
    width: 100%;
    height: 50px;
}
.logo img{
    width: 80%;
    height: 200px;
    position: relative;
    float: right;
    right: 20px;
}
span{
    cursor: pointer;
}
.div{
    background-color: black;
    width: 35px;
    height: 5px;
    margin: 9px;
    margin-left: 30px;
}
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
    overflow-x: hidden;
    padding-top: 60px;
    background-color: yellow;
}
.sidenav a{
    text-decoration: none;
    font-size: 25px;
    color: green;
    display: block;
    transition: 0.3s;
    padding: 8px 8px 12px 32px;
    font-weight: bold;
}
.sidenav a:hover{
    color: blue;
}
.sidenav .close{
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
    font-size: 35px;
}
@media screen and(max-height:450px) {
    .sidenav{padding-top: 15px;}
    .sidenav a{font-size: 18px;}
}
.drop{
    position: relative;
    display: inline-block;
}
.btn{
    text-decoration: none;
    font-size: 25px;
    color: green;
    transition: 0.3s;
    padding: 8px 8px 8px 32px;
    background: none;
    border: none;
    font-weight: bold;
}
.btn:hover{color: blue;}
.about{
    display: none;
    position: relative;
    z-index: 1;
    overflow: auto;
    width: 100%;
}
.about a{
    text-decoration: none;
    font-size: 20px;
    color: magenta;
    display: block;
    padding: 8px 8px 8px 32px;
}
.show{display: block;}
#par{
    margin-top: 170px;
    text-align: left;
    margin-left: 30px;
}
p{
    font-size: 22px;
    color: yellowgreen;
    font-weight: 300;
}
h2{
    color: yellow;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
ul{
    color: yellowgreen;
    font-size: 20px;
    margin-left: 50px;
}
.sea{
    margin-left: 400px;
    position: absolute;
    float: right;
    top: 2790px;  
}
.slideshow{
    position: relative;
}
#slides img{
    margin-left: 140px;
    vertical-align: middle;
    width: 80%;
    height: 300px;
}
#prev,#next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    font-size: 25px;
    font-weight: bold;
    transition: 0.4s ease;
    color: white;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
#next{
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 15px;
}
#prev{
    left: 0;
    margin-left: 15px;
}
#prev:hover,#next:hover{background-color: black;}
#more{display: none;}
#button{
    color:teal;
    padding: 5px;
    border-radius: 4px;
    background-color: gold;
    font-weight: 700;
}